<style>
.back {
  background-color: blue;
  width: 4%;
  margin-left:10px;
}
.back .link {
  text-decoration: none;
  list-style: none;
  color:white;
  font-size: 20px;
  font-weight: bold;
  transition: width 1s,font-size 1s ;
  font-family: 'Times New Roman', Times, serif;
}
.back:hover{
  background-color: rgb(135, 219, 218);
  font-size: 25px;
  width: 5%;
}
.back{transition-timing-function: ease;}
</style>
<template>
  <div>
    <div class="back">
      <router-link class="link" to="/">Back</router-link>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
