<style>
.line {
  text-decoration: line-through;
  color: red;
  text-decoration-thickness: 3px;
}
.button {
  margin: 0 10px;
}
.button-action {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
/* 
 */
.next {
  background-color: blue;
  width: 4%;
  margin-left: 10px;
}
.next .link {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.next:hover {
  background-color: rgb(135, 219, 218);
}

.item {
  display: flex;
  align-items: center;
  width: 300px;
  margin: auto;
  padding: 0 20px;
}

.item-content {
  width: 150px;
  margin: 0 0 0 24px;
  text-align: left;
  overflow: hidden;
}
.item-content-2 {
  width: 150px;
  margin: 0 0 0 24px;
  text-align: left;
}

.item-btn-delete {
  display: flex;
  align-items: center;
  margin: 20px 0 20px 40px;
}
.containers {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(35, 8, 77);
  width: 400px;
  height: auto;
}
.form-todo {
  margin-bottom: 10px;
}
</style>
<template>
  <div style="position: relative">
    <div class="next">
      <router-link class="link" to="/new-things">Next</router-link>
    </div>
    <div class="containers">
      <h2 class="text-white fw-bold" style="margin-top: 30px">Todo App</h2>
      <div class="form-todo">
        <input
          class="form-control-xs"
          @keyup.enter="add()"
          v-model="newitem"
          placeholder="add todo"
        />
      </div>
      <div
        v-for="(arr, index) in arraysTodo"
        :key="arr"
        :class="{ line: arr.line }"
        class="position-relative"
      >
        <div class="item">
          <div class="item-checkbox">
            <input type="checkbox" v-model="arr.line" />
          </div>

          <div
            v-if="!arr.editing"
            @dblclick="edit(arr)"
            class="item-content text-white"
          >
            {{ arr.title }}
          </div>
          <input
            v-else
            type="text"
            class="item-content-2"
            value=""
            v-model="arr.title"
            @blur="doneEdit(arr)"
            @keyup.enter="doneEdit(arr)"
            @keyup.esc="cancelEdit(arr)"
            v-forcus
          />
          <div class="item-btn-delete">
            <button @click="del(index)" class="btn btn-danger position-fixed">
              del
            </button>
          </div>
        </div>
      </div>
      <div class="button-action">
        <div class="completed">
          <button
            class="btn btn-info button"
            @click="filter = 'all'"
            :class="{ active: filter == 'all' }"
          >
            All
          </button>
          <button
            class="btn btn-success button"
            @click="filter = 'active'"
            :class="{ active: filter == 'active' }"
          >
            Active
          </button>
          <button
            class="btn btn-primary button"
            @click="filter = 'completed'"
            :class="{ active: filter == 'completed' }"
          >
            completed
          </button>
        </div>
        <!-- <div class="completed">
          <button class="btn btn-primary" @click="completed()">
            completed
          </button>
        </div> -->
        <div class="Del-all">
          <button class="btn btn-warning text-white" @click="del_all()">
            Del All
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newitem: "",
      iDtodo: 1,
      eddit: "",
      filter: "all",
      beforEdit: "",
      arrays: [
        {
          id: 0,
          title: "Big issue",
          editing: false,
        },
      ],
    };
  },
  computed: {
    arraysTodo() {
      if (this.filter == "all") {
        return this.arrays;
      } else if (this.filter == "active") {
        return this.arrays.filter((arr) => !arr.line);
      } else if (this.filter == "completed") {
        return this.arrays.filter((arr) => arr.line);
      }
      return this.arrays;
    },
  },

  methods: {
    edit(arr) {
      
      this.beforEdit = arr.title;
      arr.editing = true;
    },
    doneEdit(arr){
    if(arr.title.trim()==''){
        arr.title=this.beforEdit
    }
    arr.editing=false 
    },
    // completed() {
    //   this.arrays.filter((arr) => {
    //     var news = arr.line;
    //     if (news == true) {
    //       console.log(news);
    //     }
    //   });
    //   this.arrays = this.arrays.filter((arr) => !arr.line);
    // },
    cancelEdit(arr) {
      arr.title= this.beforEdit;
      arr.editing = false;
    },
    add() {
      if (this.newitem.trim() == 0) {
        return;
      } else {
        this.arrays.push({
          title: this.newitem,
          id: this.iDtodo++,
          editing: (this.eddit = false),
        });
      }
      this.newitem = "";
      console.log(this.arrays);
    },

    del(index) {
      this.arrays.splice(index,1);
    },
    del_all() {
      if (this.filter == "all") {
        return this.arrays.splice(this.arrays);
      } else if (this.filter == "active") {
        this.arrays = this.arrays.filter((x) => x.line);
      } else if (this.filter == "completed") {
        this.arrays = this.arrays.filter((x) => !x.line);
      }
      console.log("this.arrays", this.arrays);
      return this.arrays;
    },
  },
};
</script>
